################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto II/.vs/Proyecto II/FileContentIndex
